@media (max-width:768px) {
    .testimonial-wrapper .arrow-prevs {
        top: 636px;
        left: 46px;
    }
   
    .banner-wrapper img {
        width: 100%;
        height: auto;
    }
}


@media (min-width:769px) and (max-width:1279px){
    .top-header .navbar .nav-link  {
        font-size: 14px;

    }
    .banner-wrapper img {
        width: 100%;
        height: auto;

    }
    .testimonial-wrapper .arrow-nexts {
        bottom: 4px;
    }
   
}
